/*DEVELOPER George Ahumada, IS117-006, Spring 2023 */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 15px;
}

/* Header styles */
header {
	margin-bottom: 20px;
}

.navbar {
	display: flex;
	justify-content:center;
	align-items: center;
	background-color: #333;
	color: #333;
}

.navbar-inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: 1200px;
}

.nav-link{
	color: #fff;
	font-size: 1.2rem;
	text-transform: uppercase;
	font-weight: 500;
}

.nav-link:hover{
	color: #ffc107;
}
.navbar-brand {
	margin-right: 50px;
}

.nav-brand img{
	margin: auto;
	padding: auto;
}

.navbar-nav {
	display: flex;
	align-items: center;
	gap: 25px;
	margin: 0 auto;
}

.nav-item {
	position: relative;
}

.nav-item-margin{
	margin-right: 50px;
}

.dropdown{
	position: relative;
}

.dropdown-menu {
	display:none;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    background-color: #d41313;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}

.dropdown:hover > .dropdown-menu {
    display: block;
}

.dropdown-menu > .dropdown > a.btn {
    border: none;
    border-radius: 0;
}

.dropdown-menu > .dropdown > a.btn:hover {
	background-color: #7db3e8;
	color: #212529; 
}

.dropdown-menu > .dropdown-menu {
    left: 100%;
    top: 0;
    margin: 0 0 0.125rem;
    border-radius: 0;
}
.form-inline {
	display: flex;
	align-items: center;
	gap: 5px;
}

.form-inline input {
	width: 150px;
}

.btn-outline-success {
	font-size: 0.7rem;
	padding: 0.25rem 0.4rem;
}

.search-form{
	margin-right: 20px;
}

#social-media {
	display: flex;
	justify-content: space-around;
	margin: 30px 0;
}

.footer {
	border-top: none;
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
}

@media (max-width: 991px) {
	#social-media {
		justify-content: space-evenly;
  }
}

@media (max-width: 767px) {
	#social-media {
		flex-direction: column;
		align-items: center;
  }
}
.footer {
	background-color: #f8f9fa;
	padding: 20px 0;
	text-align: center;
	flex-shrink: 0;
    position: fixed;
  }
}







